
body {
background:  #d6d6c2;
}

.btn-clientes{
  border: 0;
  border-radius: 3px;
  margin-top: 20px;
  background:  #999966;
  padding:7px;

}


.select-clientes{
  padding:5px;
  width: 200px;
  background: #d6d6c2;
  border: 1px solid #999966;

}

.select-clientes select{
    padding: 5px;


}


table th{
text-align: center;
background: #c3c3a2;
border-width: 5px;

}
table {
background: #ebebe0;

}


table tr:hover {
     background-color: #f5f5ef;
     cursor: pointer;
  }


#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

label {
  color:  #7a7a52;
  font-size: 18px;
  font-weight: normal;
   margin-top: 10px;
}

.btn {
  border: 0;
  border-radius: 3px;
  margin-top: 20px;
  background:  #999966;
}
.form-group {
  margin-bottom: 0;
  text-align: left;
}