{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
 

<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

{% endblock %}

{% block title %}Hola {{ nombre }}{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar" ></span>
            </button>
            <a class="navbar-brand" ></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {%  if 'admin' == session['nombre']: %}
                   <li><a href="/index">Inicio</a></li>
                    <li><a href="/registro">Registro</a></li>
                    <li><a href="/users">Usuarios</a></li>

                {% elif 'nombre' not in session:  %}
                     <li><a href="/registro">Registro</a></li>
                      <li><a href="/index">Inicio</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {%  if 'nombre' in session: %}
                     <li><a href="/bienvenido">Logout </a></li>
                 {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
   {% block page_content %}{% endblock %}
</div>
{% endblock %}



