{% extends "base.html" %}
{% block page_content %}
<form method="POST" action="/clientes" class="form-inline">
    <div class="form-group">
        <div class="col-md-12" align="left">
            {{ form.csrf_token }}
            <fieldset>
                {{form.archivo.label}}
                <br>
                {{form.archivo(class="select-clientes")}}
                {{form.submit(class="btn-clientes")}}
            </fieldset>
        </div>
    </div>
    <div>
        <div id="wrapper" class="container">
            <h4>Lista de Clientes</h4>

            <hr>


             {% if  ff  %}
            <p>  Nombre del archivo: {{form.archivo.data}} </p>



            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Codigo</th>
                        <th>Cliente</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Producto</th>
                    </tr>
                    {% for cl in clientes %}
                    <tr>
                        <td>{{ cl["CODIGO"]}}</td>
                        <td>{{ cl["CLIENTE"] }}</td>
                        <td>{{ cl["CANTIDAD"] }}</td>
                        <td>{{ cl["PRECIO"] }}</td>
                        <td>{{ cl["PRODUCTO"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
          <p>
             {{ msg }}
          </p>
            {% endif %}
        </div>
    </div>
    </form>
{% endblock %}
