{% extends "base.html" %}

 {% block page_content %}
<div id="wrapper" class="container">
    <form method="POST" action="/cliente">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <fieldset>
            <legend class="legend"><h4>Listar todos los productos que compro un Cliente</h4></legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                {{form.cliente(class="form-control", placeholder="Ingrese nombre del cliente...")}}
                                <span class="input-group-btn">{{form.submit(class="btn btn-clientes")}}</span>
                            </div>
                            {% for message in form.cliente.errors %}
                                    <p style="color:goldenrod;"> {{ message }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
{% if ff %}
    <form method="POST" action="/mostrar">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <br>
        <h4>Seleccione un Cliente</h4>
        {% for l in lista %}
        <div class="radio">
              <label style="font-size:14px"><input type="radio" name="selecc" value="{{l}}" checked="checked">{{l}}</label>
        </div>
        {% endfor %}
        <br>
        <br>
        {{form.submit_selec(class="btn btn-clientes")}}
        {% else %}
           <p style="color:goldenrod; text-align:left; margin-left:15px;"> {{ msg }} </p>
        {% endif %}
    </form>
</div>
{% endblock %}














