{% extends "base.html" %}
 {% block page_content %}
<div id="wrapper" class="container">
    <form method="POST" action="/mejores_clientes">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <fieldset>
            <legend class="legend"><h4> Listar los Clientes que mas compraron</h4></legend>
            <div class="form-group">
                <div class="col-md-12">
                   <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                {{form.cantidad(class="form-control", placeholder="Ingrese cantidad de items a mostrar...")}}
                                <span class="input-group-btn">{{form.submit(class="btn btn-clientes")}}</span>
                            </div>
                            {% for message in form.cantidad.errors %}
                                    <p style="color:goldenrod;"> {{ message }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        {% if fc %}
        <br>
        <br>
        <div class="table-responsive">
            <h3 class="titulo-consulta"> {{consulta[0][0]}}</h3>
            <table class="table">
                <tr>
                    <th align="center" >CLIENTE</th>
                    <th align="center">{{msg2}}</th>
                </tr>
                {% for cl in consulta %}
                <tr>
                    <td align="center">{{ cl[0] }}</td>
                    <td align="center">{{ cl[1] }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <div style="text-align: right" >
             <a href="/bajar-archivo/" style="color: black">Descargá la consulta</a>
            </div>
            {%endif%}
        </div>
    </form>


</div>
{% endblock %}


