{% extends "base.html" %}
{% block page_content %}

<div id="wrapper" class="container">
    <h2>Bienvenido! {{usuario}}</h2>
    <br>
    <h4>Lista de Clientes</h4>
    <hr>
    <br>
    <div class="col-md-12" align="left">
        {% if  ff  %}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th align="center">CODIGO</th>
                    <th align="center" >PRODUCTO</th>
                    <th align="center">CLIENTE</th>
                    <th align="center" >CANTIDAD</th>
                    <th align="center">PRECIO</th>
                </tr>
                {% for cl in clientes %}
                <tr>
                    <td align="center">{{ cl["CODIGO"]}}</td>
                    <td align="center">{{ cl["PRODUCTO"] }}</td>
                    <td align="center" >{{ cl["CLIENTE"] }}</td>
                    <td align="center" >{{ cl["CANTIDAD"] }}</td>
                    <td align="center">{{ cl["PRECIO"] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>
            {{ msg }}
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}
